body{
    color: rgb(102, 182, 203);
    background: rgb(136, 185, 176);
    margin: 0px;
    font-family: "Instrument Serif", sans-serif;
}

header{
    border-bottom:solid 2px rgb(131, 173, 197);
    padding: 20px;
    font-size: 35px;
    color:rgb(233, 245, 239);
}
.chamada{
    background: rgb(167, 221, 194);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}
img{
    height: 200px;
}
.categorias-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria{
    padding-left: 20px;
    padding-right: 20px;
}
